<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="margin-bottom">
    <%= render "layouts/navbar"%>
    <% flash.each do |message_type, message| %>
      <%= content_tag :div, message, class: "notification is-#{message_type}" %>
    <% end %>
    </div>
    <div class="container main-container">
      <%= yield %>
    </div>
    <%= render "layouts/footer"%>
    <div class="container column">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
